.skills-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
    background-image: url("/assets/img/Vector\ \(3\).png");
  background-repeat: no-repeat;
  background-position: contain;
  background-size: cover;
}

.skills-description-wrapper {
  height: 500px;
  width: 480px;
  margin-top: 180px;
  p {
    color: white;
    font-family: poppins;
  }
  .another-skill {
    font-size: 32px;
  }
  span {
    color: rgba(151, 71, 255, 1);
  }
  .btn {
    height: 60px;
    width: 200px;
    border-radius: 12px;
    background-color: rgba(112, 230, 28, 1);
    font-family: poppins;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
}

.skills-headline-wrapper {
  display: flex;
  align-items: center;
  img {
    width: 300px;
    height: 4px;
    border-radius: 4px;
  }
  h2 {
    color: white;
    font-family: poppins;
    font-size: 90px;
  }
}

.skills-icons-section {
  display: flex;
  width: 500px;
  height: 500px;
  margin-top: 180px;
}

.skills-icons-wrapper {
    padding-top: 40px;
  width: 400px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
  img {
    height: 100px;
    width: 100px;
  }
}
