<section class="skills-section">
    <section class="skills-icons-section">
        <div class="skills-icons-wrapper">
            <img src="/assets/icons/html.png" alt="">
            <img src="/assets/icons/CSS.png" alt="">
            <img src="/assets/icons/Js.png" alt="">
            <img src="/assets/icons/Ts.png" alt="">
            <img src="/assets/icons/Angular.png" alt="">
            <img src="/assets/icons/Git.png" alt="">
            <img src="/assets/icons/Rest API.png" alt="">
        </div>
    </section>
    <section class="skills-description-section">
        <div class="skills-description-wrapper">
            <div class="skills-headline-wrapper">
            <h2>Skills</h2>
            <img src="\assets\img\LINE2.png" alt="">
            </div>
            <p>Highlight your experience of working on different projects using different front-end technologies (such
                as HTML, CSS, JavaScript, etc.) and emphasise your openness to learning and adapting to new
                technologies. 
                <br>
                Mention the importance of continuing education to keep up with the rapid changes in web development.
            </p>
            <br>
            <p class="another-skill">Looking for <span>another skill</span>?
            </p>
            <p>Reveal enthusiasm for learning new technologies and frameworks.</p>
            <br>
            <button class="btn">Get in touch</button>
        </div>
    </section>
</section>