<section id="my-skills-section" class="skills-section">
    <div class="skills-wrapper">

        <section class="skills-icons-section">
            <div class="skills-icons-wrapper">
                <img src="/assets/icons/html.png" alt="">
                <img src="/assets/icons/CSS.png" alt="">
                <img src="/assets/icons/Js.png" alt="">
                <img src="/assets/icons/Ts.png" alt="">
                <img src="/assets/icons/Angular.png" alt="">
                <img src="/assets/icons/Git.png" alt="">
                <img src="/assets/icons/Rest API.png" alt="">
            </div>
        </section>

        <section class="skills-description-section">
            <div class="skills-description-wrapper">

                <div class="skills-headline-wrapper">
                    <h2>{{ 'SKILLS.TITLE' | translate }}</h2>
                    <img src="\assets\img\LINE2.png" alt="">
                </div>

                <p>
                    {{ 'SKILLS.DESCRIPTION' | translate }}
                </p>

                <br>

                <p class="another-skill">
                    {{ 'SKILLS.ANOTHER_SKILL' | translate }}
                    <span>{{ 'SKILLS.ANOTHER_SKILL_HIGHLIGHT' | translate }}</span>?
                </p>

                <p>
                    {{ 'SKILLS.LEARNING' | translate }}
                </p>

                <br>

                <button class="btn">
                    {{ 'SKILLS.BUTTON' | translate }}
                </button>

            </div>
        </section>

    </div>
</section>