*{
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(20, 29, 47, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    nav{
        display: flex;
        gap: 10px;
        margin-right: 50px;
    }
    p{
        font-family: Poppins;
        font-size: 50px;
        color: white;
    }
    a{
        color: white;
        font-family: Poppins;
    }
    .primery-btn{
        width: 38px;
        height: 32px;
        color: white;
        background-color: rgba(20, 29, 47, 1);
        border: 2px solid rgba(112, 230, 28, 1);
        border-radius: 8px;
        cursor: pointer;
    }
    .secondary-btn{
        width: 38px;
        height: 32px;
        color: white;
        background-color: rgba(112, 230, 28, 1);
        border: 2px solid rgba(112, 230, 28, 1);
        border-radius: 8px;
        cursor: pointer;
    }
}