<section id="portfolio" class="portfolio-section">

    <div class="portfolio-wrapper"></div>

    <div class="portfolio-headdline">
        <img src="/assets/icons/LINE 3.png" alt="">
        <h2>{{ 'PORTFOLIO.TITLE' | translate }}</h2>
    </div>

    <p>
        {{ 'PORTFOLIO.DESCRIPTION' | translate }}
    </p>

    <section class="img-section">
        <img src="/assets/img/18Pictures (PC mock up).png" alt="">
        <img src="/assets/img/18Pictures (PC mock up) (1).png" alt="">
    </section>

</section>