<section id="about-me" class="about-me-section">
    <div class="about-me-wrapper">

        <section class="about-me-description">

            <h2>{{ 'ABOUT.TITLE' | translate }}</h2>

            <br>

            <div>
                <p>
                    {{ 'ABOUT.INTRO' | translate }}
                </p>

                <br>

                <p>
                    {{ 'ABOUT.CONNECT' | translate }}
                </p>

                <br>
            </div>

            <div>

                <div class="location-wrapper">
                    <img class="location-img" src="\assets\icons\11.Location.png" alt="">
                    <p>
                        {{ 'ABOUT.LOCATION' | translate }}
                    </p>
                </div>

                <br>

                <div class="bulb-wrapper">
                    <img class="bulb-img" src="\assets\icons\12. bulb desktop.png" alt="">
                    <p>
                        {{ 'ABOUT.LEARNING' | translate }}
                    </p>
                </div>

                <br>

                <div class="puzzle-wrapper">
                    <img class="puzzle-img" src="\assets\icons\13. puzzle desktop.svg" alt="">
                    <p>
                        {{ 'ABOUT.PROBLEM_SOLVING' | translate }}
                    </p>
                </div>

            </div>

        </section>

        <section class="about-me-img-section">
            <img src="assets\img\hero character photo.png" alt="">
        </section>

    </div>
</section>