.hero-section{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-content-wrapper{
        display: flex;
        margin-bottom: 150px;
    }
    .hero-intro{
        color: white;
        font-family: Poppins;
        font-size: 64px;
    }
    .hero-name{
        color: white;
        font-family: Poppins;
        font-size: 120px;
        font-weight: bold;
    }
    .hero-job-title{
        display: flex;
        justify-content: center;
        color: rgba(151, 71, 255, 1);
        font-family: poppins;
        font-size: 64px;
    }
    .hero-btn{
        margin-top: 50px;
        margin-left: 420px;
        width: 160px;
        height: 50px;
        background-color: rgba(112, 230, 28, 1);
        color: white;
        font-family: Poppins;
        font-size: 24px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
}
.rotate{
    width: 200px;
    height: 100px;
    transform: rotate(-90deg);
}

.socials-wrapper{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 150px;
}

.socials-content{
    display: flex;
    gap: 40px;
    width: 380px;
    height: 40px;
}

.socials-line{
    margin-right: 40px;
    height: 4px;
    width: 100px;
}

.social-icon{
    height: 30px;
    width: 30px;
}

.scroll-icon-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        width: 200px;
        transform: rotate(-270deg);
        color: white;
        font-size: 32px;
        font-family: poppins;
    }
    .arrow{
        margin-top: 60px ;
        margin-right: 5px;
        width: 35px;
        height: 35px;
    }
}

.socials-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}