<section class="hero-section">
    <section class="hero-content-section">
    <div class="hero-content-wrapper">
        <div class="rotate">
            <p class="hero-intro">I am</p>
        </div>
        <div>
            <div>
                <p class="hero-name">Axel Neugebauer</p>
            </div>
            <div>
                <p class="hero-job-title">FRONTEND DEVELOPER</p>
                <button class="hero-btn">Let’s talk!</button>
            </div>
        </div>
    </div>
    
    </section>
    <section class="socials-section">
    <div class="socials-wrapper">
        <div>
            <img class="socials-line" src="\assets\icons\LINE 1.png" alt="">
        </div>
        <div class="socials-content">
            <a href="https://github.com/Axel-ne" target="_blank"><img class="social-icon" src="/assets/icons/8. Github button.png" alt=""></a>
            <a href="https://www.gmx.net/" target="_blank"><img class="social-icon" src="\assets\icons\Vector (1).png" alt=""></a>
            <a href="https://www.linkedin.com/login/de/" target="_blank"><img class="social-icon" src="\assets\icons\Vector (2).png" alt=""></a>
        </div>
    </div>
    <div class="scroll-icon-wrapper">
        <p>Scroll down</p>
        <img class="arrow" src="\assets\icons\arrow-down-line.png" alt="">
    </div>
    </section>
</section>