.contact-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-wrapper{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 320px) and (max-width: 767px){
        width: 320px;
    }
}

.contact-headline{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 40px;
    h2{
        font-family: poppins;
        font-size: 90px;
        color: white;
    }
    >img{
        width: 500px;
        height: 5px;
        border-radius: 24px;
    }
    @media (min-width: 320px) and (max-width: 767px){
        h2{
            font-size: 32px;
        }
        img{
            width: 70px;
        }
    }
                    @media (min-width: 768px) and (max-width: 1023px){
                    img{
            width: 180px;
        }
        }
}

.contact-content-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    @media (min-width: 320px) and (max-width: 767px) {
        flex-wrap: wrap;
    }
    @media (min-width: 768px) and (max-width: 1023px){
        flex-wrap: wrap;
        justify-content: center;
    }
}

.contact-contant{
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 150px;
    h2{
        color: white;
        font-family: poppins;
    }
    p{
        margin-left: 75px;
        color: white;
        font-family: poppins;
        span{
            font-weight: bold;
        }
    }
        @media (min-width: 320px) and (max-width: 767px){
            p{
                margin: 0;
                padding: 20px;
            }
        }
}

.contact-content-headline{
    display: flex;
    align-items: center;
    gap: 10px;
    >img{
        width: 70px;
        height: 5px;
        border-radius: 24px;
    }
    h2{
        font-size: 32px;
    }
    @media (min-width: 320px) and (max-width: 767px){
        h2{
            font-size: 20px;
        }
        img{
            width: 50px;
        }
    }
}

.input-section{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .submit-btn-wrapper{
        display: flex;
        justify-content: center;
    }
    .submit-btn{
        width: 250px;
        height: 50px;
        border-radius: 8px;
        background: rgba(182, 182, 182, 1);
        color: rgba(255, 255, 255, 1);
        font-family: poppins;
        font-size: 20px;
        cursor: pointer;
    }
    input[type=text]{
        width: 620px;
        height: 50px;
        background-color: rgba(20, 29, 47, 1);
        border: 1px solid rgba(151, 71, 255, 1);
        border-radius: 8px;
        padding: 20px;
        color: white;
                @media (min-width: 320px) and (max-width: 767px){
            width: 300px;
        }
    }
    input[type=email]{
        width: 620px;
        height: 50px;
        background-color: rgba(20, 29, 47, 1);
        border: 1px solid rgba(151, 71, 255, 1);
        border-radius: 8px;
        padding: 20px;
        color: white;
        @media (min-width: 320px) and (max-width: 767px){
    width: 300px;

}
    }
    textarea{
        width: 620px;
        height: 200px;
        background-color: rgba(20, 29, 47, 1);
        border: 1px solid rgba(151, 71, 255, 1);
        border-radius: 8px;
        padding: 20px;
        color: white;
        font-family: poppins;
        @media (min-width: 320px) and (max-width: 767px){
            width: 300px;
        }
        @media (min-width: 768px) and (max-width: 1023px){
            width: 620px;
        }
    }
@media (min-width: 320px) and (max-width: 767px){
    width: 320px;
    margin: 0;
}
}
.input-content{
        display: flex;

        p{
            color: white;
            font-family: poppins;
        }
        span{
            color: rgba(151, 71, 255, 1);
        }
    }
    .go-up-btn-wrapper{
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .go-up-btn{
        width: 50px;
        height: 50px;
    }

    a{
        color: rgba(151, 71, 255, 1);
    }

.form-error{
    color: red;
    font-family: poppins;
    font-weight: bold;
    font-size: 24px;
}

    @media (min-width: 320px) and (max-width: 767px){
        .input-section{
            margin-top: 200px;
            margin-left: 10px;
        }
    }

                    @media (min-width: 768px) and (max-width: 1023px){
                    .input-section{
                        align-items: center;
                        margin: 0;
        }
        }