<section class="contact-section">
    <div class="contact-headline">
        <h2>Contact</h2>
        <img src="/assets/icons/LINE 4.png" alt="">
    </div>
    <div class="contact-content-wrapper">
        <div class="contact-contant">
            <div class="contact-content-headline">
            <img src="/assets/icons/LINE 5.png" alt="">
            <h2>Got a problem to solve?</h2>
            </div>
            <br>
            <p>Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work.</p>
            <br>
            <p>Need a Frontend developer? <span>Contact me!</span></p>
    </div>
        <div class="input-section">
            <input type="text" placeholder="Your name" required>
            <input type="email" placeholder="Your email" required>
            <textarea name="" id="" placeholder="Your message" required></textarea>
            <div class="input-content">
            <input type="checkbox" name="" id="" required>
            <p>I've read thes<span><a routerLink="privacy-policy">privacy policy</a></span>and agree to the processing of my data as outlined.</p> /////
            </div>
            <div class="submit-btn-wrapper">
            <button class="submit-btn">Send message :)</button>
            </div>
            <div class="go-up-btn-wrapper">
            <a href=""><img class="go-up-btn" src="/assets/icons/4. Go up button.png" alt=""></a>
            </div>
        </div>
    </div>
            <img src="" alt="">
</section>