.references-section {
display: flex;
flex-direction: column;
width: 100%;
justify-content: space-evenly;
align-items: center;
gap: 10px;
margin-bottom: 150px;
.text-img {
    top: -20px;
    left: 200px;
    z-index: 1;
    width: 50px;
    height: 50px;
}
        @media (min-width: 320px) and (max-width: 767px){
            width: 100%;
        }

}

.references-contant-wrapper {
display: flex;
max-width: 1440px;
        @media (min-width: 320px) and (max-width: 767px){
            flex-wrap: wrap;
            flex-direction: column-reverse;
            width: 100%;
            align-items: center;
        }
        @media (min-width: 768px) and (max-width: 1023px){
            margin-top: 550px;
            flex-direction: column-reverse;
                        width: 750px;
        }
}
.references-text-wrappeer {
    border: 5px solid rgba(151, 71, 255, 1);
    border-radius: 32px;
    margin-left: 180px;
    width: 1400px;
    height: 300px;
    padding: 50px;
    p {
    color: white;
    font-family: poppins;
    }
    div{
        height: 120px;
        display: flex;
        align-items: flex-end;
        gap: 10px;
        img{
            height: 5px;
            width: 350px;
            border-radius: 24px;
            margin-bottom: 10px;
        }
    }
            @media (min-width: 320px) and (max-width: 767px){
            width: 300px;
            height: 400px;
            margin: 0;
            padding: 0;
            padding: 10px;
            >div{
            width: 300px;
            img{
                width: 50px;
            }
        }
        }
        @media (min-width: 768px) and (max-width: 1023px){
            margin: 0;
        }
    }

    .references-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .beam-img {
    width: 130px;
    height: 5px;
        }
                    @media (min-width: 320px) and (max-width: 767px){
                        width: 100%;
                        justify-content: center;
                                    >img{
                                        margin-bottom: 50px;
                width: 250px;
                height: 250px;
            }
            .beam-img{
                width: 50px;
            }
                    }
                                    @media (min-width: 768px) and (max-width: 1023px){
            justify-content: center;
            margin-bottom: 200px;
        }
    }


.slider-wrapper {
    margin-right: 540px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .ellipse{
        width: 16px;
        height: 16px;
    }
}

        @media (min-width: 320px) and (max-width: 767px){
            .text-img{
                display: none;
            }
            .slider-wrapper{
                margin: 0;
            }
        }

        @media (min-width: 768px) and (max-width: 1023px){
            .references-text-wrappeer{
                width: 750px;
            }
                        .text-img{
                display: none;
            }
                        .slider-wrapper{
                margin: 0;
            }
        }