.legal-notice-section{

}

.legal-notice-headline{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    h1{
        color: white;

    }
    img{
        width: 150px;
        height: 3px;
        border-radius: 2px;
    }
    .big-line{
        width: 600px;
    }
}

.legal-notice-content-wrapper{
    h2{
        color: rgba(151, 71, 255, 1);
    }
    h3{
        color: rgba(151, 71, 255, 1);
    }
    span{
        color: rgba(151, 71, 255, 1);
    }
}