<section class="legal-notice-section">
    <div class="legal-notice-headline">
        <img src="/assets/icons/LINE 3.png" alt="">
        <h1>Legal Notice</h1>
        <img class="big-line" src="/assets/icons/LINE 3.png" alt="">
    </div>
    <div class="legal-notice-content-wrapper">
        <h2>Imprint</h2>
        <p>[Student Names List]Exploring the BoardEmail: [Email]</p>
        <p>[Address of the JOIN operator - e.g. one of the students]</p>
        <p>[Postcode and city]</p>
        <h3>Exploring the Board</h3>
        <p>Email Email:[Email]</p>
        <h3>Acceptance of terms</h3>
        <p>By accessing and using <span>Portfolio</span> (Product), you acknowledge and agree to the following terms and
            conditions, and any policies, guidelines, or amendments thereto that may be presented to you from time to
            time. We, the listed students, may update or change the terms and conditions from time to time without
            notice.</p>
        <h3>Scope and ownership of the product</h3>
        <p><span>Portfolio</span> has been developed as part of a student group project in a web development bootcamp at
            the
            <span>Developer Akademie GmbH</span>. It has an educational purpose and is not intended for extensive
            personal & business
            usage. As such, we cannot guarantee consistent availability, reliability, accuracy, or any other aspect of
            quality regarding this Product.
            <br>
            <br>
            The design of <span>Portfolio</span> is owned by the <span>Developer Akademie GmbH</span>. Unauthorized use,
            reproduction,
            modification, distribution, or replication of the design is strictly prohibited.
        </p>
        <h3>Proprietary rights</h3>
        <p>Aside from the design owned by <span>Developer Akademie</span> GmbH, we, the listed students, retain all proprietary rights in <span>Portfolio</span>, including any associated copyrighted material, trademarks, and other proprietary information.</p>
    </div>
</section>